@charset "UTF-8";

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: dimgray;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(102, 102, 102);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315); /* boxs-shadow: horizontal vertical embaçamento espalhamento cor (sombra pra dentro é só inserir o insert antes dos atributos)*/
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);

    /*
    O border-radius tem a sequência de configuração: top-left, top-right, bottom-right e bottom-left.
    Caso sejam aplicadas apenas 2 parâmentros, eles serão: parâmentro da esquedar = top-left e bottm-right, parâmentro da direita = top-right e bottom-left
    */
}

article > aside {
    background-color: rgb(165, 165, 165);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}